= form_for @task do |f|
  = f.label :name
  = f.text_field :name
  = f.label :desc
  = f.text_field :desc
  = f.label :duedate
  = f.text_field :duedate
  = f.submit id: 'submit'

%ul#list
  - @tasks.each do |t|
    %li.task= t.desc

= javascript_include_tag 'tasks'
















