= form_for @task do |f|
  = f.label :name
  = f.text_field :name, autofocus: true
  = f.label :desc
  = f.text_field :desc
  = f.label :duedate
  = f.text_field :duedate
  = f.label :priority_id
  / = f.select :priority_id, Priority.all.map{|priority| [priority.name, priority.id]}, :include_blank => true, :prompt => "-- Choose Priority --"
  / Removed the blank and prompt so that the user must choose a priority
  = f.collection_select :priority_id, @priorities, :id, :name
  = f.submit id: 'submit', class: 'button success small'
  = f.submit id: 'edit-submit', class: 'button success small hidden', value: 'Update Task'

%table#tasks
  %thead
    %tr
      %th
      %th
        = link_to 'Name', '#', id: 'name-sort'
      %th
        = link_to 'Desc', '#', id: 'desc-sort'
      %th
        = link_to 'Duedate', '#', id: 'duedate-sort'
        %th
  %tbody
    = render partial: 'tasks/partials/tasks'

= javascript_include_tag 'tasks'
















