= form_for @task do |f|
  = f.label :name
  = f.text_field :name
  = f.label :desc
  = f.text_field :desc
  = f.label :duedate
  = f.text_field :duedate
  = f.label :priority_id
  / = f.select :priority_id, Priority.all.map{|priority| [priority.name, priority.id]}, :include_blank => true, :prompt => "-- Choose Priority --"
  = f.collection_select :priority_id, @priorities, :id, :name, include_blank: true, prompt: '-- Choose Priority --'
  = f.submit id: 'submit'

%table#tasks
  %thead
    %tr
      %th Name
      %th Description
      %th Due Date
  %tbody
    - @tasks.each do |task|
      %tr
        %td.name= task.name
        %td.desc= task.desc
        %td= task.duedate

= javascript_include_tag 'tasks'
















