= form_for @task do |f|
  = f.label :name
  = f.text_field :name
  = f.label :desc
  = f.text_field :desc
  = f.label :duedate
  = f.text_field :duedate
  = f.label :priority_id
  / = f.select :priority_id, Priority.all.map{|priority| [priority.name, priority.id]}, :include_blank => true, :prompt => "-- Choose Priority --"
  = f.collection_select :priority_id, @priorities, :id, :name, include_blank: true, prompt: '-- Choose Priority --'
  = f.submit id: 'submit'

%table#tasks
  %thead
    %tr
      %th
        = link_to 'Name', '#', id: 'name-sort'
      %th
        = link_to 'Desc', '#', id: 'desc-sort'
      %th
        = link_to 'Duedate', '#', id: 'duedate-sort'
  %tbody
    - @tasks.each do |task|
      %tr{style: "background-color: #{task.priority.color}"}
        %td.name= task.name
        %td.desc= task.desc
        %td.duedate= task.duedate
        %td.urgency-index{style: 'display: none;'}= task.priority.urgency_index

= javascript_include_tag 'tasks'
















